body {
    background-color: #ecf0f3;
    font-family: 'Golos Text', sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav_main {
    display: flex;
    position: relative;
}

nav {
    padding-top: 20px;
    height: 100%;
    width: 250px;
    background-color: #0086c2;
    display: flex;
    flex-direction: column;
}

.logo-fesc {
    width: 150px;
    align-self: center;
    margin-bottom: 50px;
}

.nav-item {
    align-self: center;
}

.nav-item, a {
    font-size: large;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
}

main {
    width: 100%;
    padding: 20px;
    padding-left: 20px;
}

footer {
    background-color: #494949;
    padding: 20px;
    bottom: 0;
    position: absolute;
    color: #FFFFFF;
    width: 100%;
    margin-top: 50px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.ejercicio-card {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.ejercicio-contenido > button {
    position: absolute;
    font-weight: 200;
    background-color: #196BCA;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
    right: 20px;
    bottom: 20px;
}

.ejercicio-boton {
    font-weight: 200;
    background-color: #196BCA;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
}

.ejercicio-boton:hover {
    cursor: pointer;
}

.bloque {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.bloque > img {
    margin: 0 auto;
    width: 700px;
    border-radius: 15px;
}