{% extends 'base.html' %}
{% block content %}
    <div class="container px-4 mt-5 mb-3">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Acerca de este proyecto</h2>
                <p class="lead">Este sitio web cumple con el objetivo de unificar los proyectos de los cursos de Iniciación al Cómputo, siendo el proyecto de Iniciación al Cómputo II la aplicación web que alberga en una base de datos los proyectos de Iniciación al Cómputo I</p>
                <p class="lead">Las herramientas utilizadas en este proyecto conjunto son las siguientes:</p>
                <ul>
                    <li>Backend: Framework web Django usando el lenguaje de programación Python</li>
                    <li>Frontend: Bootsrap 5.3</li>
                    <li>Base de datos: SQLite3</li>
                    <li>Los ejercicios de Iniciación al Cómputo I fueron realizados con Javascript</li>
                    <br><br><br><br><br><br>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}