{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/base.css' %}">
    <title>Iniciación al Cómputo 2</title>
</head>
<body>
    <div class="nav_main">
        <nav>
            <div class="nav-item">
                <img class="logo-fesc" src="{% static '/imagenes/logo.png' %}" alt="">
            </div>
            <div class="nav-item">
                <h2><a href="/">Inicio</a></h2>
            </div>
            <div class="nav-item">
                <h2><a href="/">Acerca del sitio</a></h2>
            </div>
            <div class="nav-item">
                <h2><a href="/">Contacto</a></h2>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    {% block scripts %}
    {% endblock %}
    <footer>
        Copyright Luis Fernando Acosta Virgen 2023
    </footer>
</body>
</html>