{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4" style="margin-bottom: 20px;">
    <div class="card mt-3">
        <div class="card-body">
            <h1 class="card-title">Ejercicio {{ num }}</h1>
            <p class="card-text">{{ desc }}</p>
            <button id="boton" class="btn btn-primary">Comenzar</button>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h2>Código fuente</h2>
            <img class="img-fluid" src="{% static '/imagenes/bloques' %}/{{ num }}.png" alt="bloque de código" style="border-radius: 5px;">
        </div>
    </div>
</div>
<!--
    <div class="ejercicio-main">
    <h1>Ejercicio {{ num }}</h1>
    <p class="desc">
        {{ desc }}
    </p>
    <button id="boton" class="ejercicio-boton">Comenzar</button>
    </div>
    <div class="bloque">
        <h1>Código fuente</h1>
        <img src="{% static '/imagenes/bloques' %}/{{ num }}.png" alt="bloque de código">
    </div>
-->
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/ejercicio' %}{{ num }}.js"></script>
{% endblock %}