{% extends 'base.html' %}
{% block content %}
    <div class="contenedor">
        {% for ejercicio in ejercicios %}
            <div class="ejercicio-card">
                <div class="ejercicio-contenido">
                    <h3>Ejercicio {{ ejercicio.numero }}</h3>
                    <p>{{ ejercicio.desc }}</p>
                    <button>
                        <a class="ejercicio-a" href="/ejercicio/{{ ejercicio.numero }}">Ir a ejercicio</a>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}